html {
    font-size: 62.5%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-padding-top: 9rem; /* Add padding to the top of the viewport when scrolling to an anchor link */
    scroll-behavior: smooth;
}

/* Style the scrollbar track */
html ::-webkit-scrollbar {
    width: 0.8rem; 
}

/* Style the scrollbar track */
html ::-webkit-scrollbar-track {
    background: transparent;
}

/* Style the scrollbar thumb */
html ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5rem; 
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body {
    margin: 0;
    background: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:darkgreen;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0.1rem;
    font-size: 1.6rem;
    color: white;
    padding: 0.5rem 1rem;
}

.navbar a:hover {
    color:chartreuse;
    border-bottom: 0.1rem solid chartreuse;
    padding-bottom: 0.5rem;
}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: chartreuse;
}

#menu-icon {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%; 
    right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
}

.header .search-form label:hover {
    color: chartreuse;
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem); /* Compute the value based on the viewport height and a fixed value in "rem" */
    width: 35rem;
    background: white;
    padding:0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-items {
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-items .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.header .cart-items-container .cart-items .fa-times:hover {
    color: chartreuse;
}

.header .cart-items-container .cart-items img {
    width: 7rem; 
    height: auto; 
    object-fit: contain; 
}

.header .cart-items-container .cart-items .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-items .content .price {
    font-size: 1.5rem;
    color: chartreuse;
}

.Button {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: chartreuse;
    cursor: pointer;
}

.Button:hover {
    letter-spacing: 0.2rem;
}

.header .cart-items-container .Button {
    width: 100%;
    text-align: center;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    #menu-icon {
        display: inline-block;
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem
    }
}
