body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:darkgreen;
    box-shadow: none;
}

.logo img {
    width: 110px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color:white;
    font-size: 25px;
}

.navbar a:hover {
    color:chartreuse;

}

.icons {
    display: flex;
    gap: 40px;
}

.icons .fas {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.icons .fas:hover {
    color: chartreuse;
}

.header .search-form {
    position: absolute;
    background: white;
    top: 115%; 
    right: 7%;
    display: flex;
    align-items: center;
    width: 50rem;
    height: 5rem;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}

.header .search-form label:hover {
    color: chartreuse;
}