/* Header */

html {
    color: black;
    font-size: 10px;
    font-weight: 400;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    scroll-padding-top: 9rem; /* Add padding to the top of the viewport when scrolling to an anchor link */
    scroll-behavior: smooth;
}

/* Style the scrollbar track */
html ::-webkit-scrollbar {
    width: 0.8rem; 
}


/* Style the scrollbar track */
html ::-webkit-scrollbar-track {
    background: transparent;
}

/* Style the scrollbar thumb */
html ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 5rem; 
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

body {
    margin: 0;
    font-size: 10px;
    font-weight: 400;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:darkgreen;
    box-shadow: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .logo img {
    height: 6rem;
}

.header .navbar a {
    margin: 0.1rem;
    font-size: 2rem;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
}

.navbar a:hover {
    color:chartreuse;
    border-bottom: 0.1rem solid chartreuse;
    padding-bottom: 0.5rem;
}

.header .icons div{
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: chartreuse;
}

#menu-icon {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%; 
    right: 7%;
    background: white;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
}

.header .search-form label:hover {
    color: chartreuse;
}

.header .cart-items-container {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem); /* Compute the value based on the viewport height and a fixed value in "rem" */
    width: 35rem;
    background: white;
    padding:0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-items {
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.header .cart-items-container .cart-items .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

.header .cart-items-container .cart-items .fa-times:hover {
    color: chartreuse;
}

.header .cart-items-container .cart-items img {
    width: 7rem; 
    height: auto; 
    object-fit: contain; 
}

.header .cart-items-container .cart-items .content h3 {
    font-size: 2rem;
    color: black;
    padding-bottom: 0.5rem;
}

.header .cart-items-container .cart-items .content .price {
    font-size: 1.5rem;
    color: chartreuse;
}

.button {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background: chartreuse;
    cursor: pointer;
    text-decoration: none;
}

.Button:hover {
    letter-spacing: 0.2rem;
}

.header .cart-items-container .Button {
    width: 100%;
    text-align: center;
}

@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    #menu-icon {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background: white;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a{
        color: black;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .header .search-form {
        width: 90%;
        right: 2rem
    }
}

/* Body section */

.about-us-header {
    background: url('/Banner Background.jpg') no-repeat center center/cover;
    color: black;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 100px 20px;
    height: 300px;
    position: relative;
}

.about-us-header h1 {
    font-weight: 600;
    font-size: 4rem;
    margin: 0;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    text-align: center;
}

.about-us-text h3{
    font-size: 3rem;
    font-weight: 400;
}

.about-us-text p{
    font-size: 2rem;
}

.about-us-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 30px;
}

.about-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row; 
    align-items: center;
    justify-content: space-between;
    background-color:whitesmoke; 
    border-radius: 0.5rem;
    border: 1px solid #ddd; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    padding: 20px; 
    margin-bottom: 20px; 
}

.about-photo, .about-text {
    flex: 1;
    padding: 10px;
}

.about-photo img {
    width: 100%;
    height: auto;
    display: block;
}

.about-text {
    padding: 0 20px;
    text-align: left;
    font-size: 1.5rem;
}

.about-section:nth-child(2) {
    flex-direction: row-reverse;
}

@media (max-width: 991px) {
    .about-us-header {
        padding: 50px 20px; 
        height: 200px; 
        text-align: center; 
        justify-content: center; 
    }

    .about-us-header h1 {
        font-size: 2.5rem; 
        padding-left: 0; 
    }

    .about-section {
        flex-direction: column; 
        align-items: center; 
    }

    .about-photo, .about-text {
        width: 100%; 
    }

    .about-text {
        text-align: center; 
        padding: 10px 20px; 
        order: 2;
    }

    .about-photo {
        order: 1;
    }

    .about-section:nth-child(2) {
        flex-direction: column;
    }
}


/* Footer Section */

.footer {
    background-color: #092c39;
    color: white;
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-column {
    flex: 1 1 250px; 
    margin: 10px;
}

.footer-column h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #ffffff;
}

.footer-column p,
.footer-column ul {
    font-size: 14px;
    line-height: 1.8;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #4caf50; 
}

.newsletter-input {
    width: 80%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}


.social-icons a {
    color: white;
    margin: 0 5px;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #4caf50;
}


.footer-bottom {
    background-color: #4caf50;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    font-size: 14px;
    margin-top: 20px;
}

#subscriptionMessage{
    color: white;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        margin: 20px 0;
    }

    .newsletter-input {
        width: 100%;
    }
}